@model AppUserLoginDto
@{
    Layout = null;
}

<link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
<link href="~/FocusAdminTemplate/css/style.css" rel="stylesheet">

<div class="authincation h-100">
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <h4 class="text-center mb-4">Sign in your account</h4>
                                <form asp-action="SignIn" asp-controller="Account" method="post">
                                    <div class="form-group">
                                        <label><strong>Username: </strong></label>
                                        <input asp-for="@Model.UserName" class="form-control">
                                        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label><strong>Password</strong></label>
                                        <input type="password" asp-for="@Model.Password" class="form-control">
                                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                        <div class="form-group">
                                            <div class="form-check ml-2">
                                                <input class="form-check-input" asp-for="@Model.RememberMe" type="checkbox" id="basic_checkbox_1">
                                                <label class="form-check-label" for="basic_checkbox_1">Remember me</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <a href="page-forgot-password.html">Forgot Password?</a>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                    </div>
                                </form>
                                <div class="new-account mt-3">
                                    <p>Don't have an account? <a class="text-primary" href="./page-register.html">Sign up</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/FocusAdminTemplate/vendor/global/global.min.js"></script>
<script src="~/FocusAdminTemplate/js/quixnav-init.js"></script>
<script src="~/FocusAdminTemplate/js/custom.min.js"></script>
