@model List<AdvertisementListDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="accordion" id="accordionExample">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-@Model[i].Id">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@Model[i].Id" aria-expanded="@(i == 0)" aria-controls="collapse-@Model[i].Id">
                    @Model[i].Title
                </button>
            </h2>
            <div id="collapse-@Model[i].Id" class="accordion-collapse collapse @(i == 0 ? "show" : "")" aria-labelledby="heading-@Model[i].Id" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    @Model[i].Description

                    @if (User.Identity.IsAuthenticated)
                    {
                        <div><a asp-controller="Advertisement" asp-action="Send" asp-route-advertisementId="@Model[i].Id">Apply</a></div>
                    }
                    else
                    {
                        <div class="alert alert-warning text-dark text-center mt-3">
                            You should sign in for appliying jobs.<a asp-action="SignIn" asp-controller="Account" class="text-primary">Sign In</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>