@model AdvertisementAppUserCreateModel

@{
    ViewData["Title"] = "Send";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="mx-auto p-3" asp-action="Send" asp-controller="Advertisement" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.AdvertisementId" />
    <input type="hidden" asp-for="@Model.AppUserId" />

    @if (ViewBag.GenderId == (int)GenderType.Male)
    {
        <div class="mb-3">
            <label>Military Status :</label>
            <select onchange="setInputVisibility()" asp-for="@Model.MilitaryStatusId" asp-items="@ViewBag.MilitaryStatus" class="form-select">
            </select>
            <span asp-validation-for="@Model.MilitaryStatusId" class="text-danger"></span>
        </div>

        <div id="postponeDiv" class="mb-3" style="display:none">
            <label>Postpone Date</label>
            <input type="date" asp-for="@Model.EndDate" class="form-control " />
            <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
        </div>

    }

    else
    {
        <input type="hidden" asp-for="@Model.MilitaryStatusId" value="@((int)MilitaryStatusType.Exempt)" />
    }

    <div class="mb-3">
        <label>Work Experience (write year) :</label>
        <input type="number" asp-for="@Model.WorkExperience" class="form-control" />
        <span asp-validation-for="@Model.WorkExperience" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Cv :</label>
        <input type="file" asp-for="@Model.CvFile" class="form-control" />
        <span asp-validation-for="@Model.CvFile" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-success">Save</button>
    </div>


</form>

@section script {
    <script>
        setInputVisibility();
        function setInputVisibility() {
            var selectElement = document.getElementById("MilitaryStatusId");
            var postponeDiv = document.getElementById("postponeDiv");
            var militaryStatusId = selectElement.value;

            var dateDivElement = document.getElementById("postponeDiv");

            if (militaryStatusId == 2) {
                dateDivElement.style.display = "block";
            } else {
                dateDivElement.style.display = "none";
            }
        }

    </script>
}
